src/wsdl/localhost_8080/GoCheetaSoap_Service/ManageVehicleService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://gocheetasoap_service.mycompany.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://gocheetasoap_service.mycompany.com/">

<xs:element name="AddVehicle" type="tns:AddVehicle"/>

<xs:element name="AddVehicleResponse" type="tns:AddVehicleResponse"/>

<xs:element name="DeleteVehicle" type="tns:DeleteVehicle"/>

<xs:element name="DeleteVehicleResponse" type="tns:DeleteVehicleResponse"/>

<xs:element name="updateVehicle" type="tns:updateVehicle"/>

<xs:element name="updateVehicleResponse" type="tns:updateVehicleResponse"/>

<xs:complexType name="updateVehicle">
<xs:sequence>
<xs:element name="managevehicle" type="tns:manageVehicle" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="manageVehicle">
<xs:sequence>
<xs:element name="branch" type="xs:string" minOccurs="0"/>
<xs:element name="driverName" type="xs:string" minOccurs="0"/>
<xs:element name="registerNumber" type="xs:string" minOccurs="0"/>
<xs:element name="vehicleNumber" type="xs:string" minOccurs="0"/>
<xs:element name="vehicleType" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateVehicleResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddVehicle">
<xs:sequence>
<xs:element name="managevehicle" type="tns:manageVehicle" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddVehicleResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteVehicle">
<xs:sequence>
<xs:element name="managevehicle" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteVehicleResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>